<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">1. 00_data/olist_customers_dataset.csv 파일 pandas dataframe 으로 읽어오기 (데이터프레임 변수 이름은 doc 로 하기로 함)</font><br>
</div>

In [68]:
import pandas as pd

doc = pd.read_csv('../../../DataAnalysis_Ref/00_data/olist_customers_dataset.csv', encoding = 'utf-8-sig')
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">2. 처음 5개 열 확인하기</font><br>
</div>

In [69]:
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">3. 전체 record 수(행 수) 확인하기</font><br>
</div>

In [70]:
doc.shape

(99441, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">4. 전체 열의 수 확인하기</font><br>
</div>

In [71]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">5. 열의 이름 리스트로 가져오기</font><br>
</div>

In [72]:
column_list = doc.columns.tolist()
column_list

# 그냥 doc.columns가 정답...

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state']

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">6. 인덱스 확인하기</font><br>
</div>

In [73]:
doc.index

RangeIndex(start=0, stop=99441, step=1)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">7. 다섯 숫자 요약(5 number summary) 확인하기 </font><br>
</div>

In [74]:
doc.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

### 추가 문법 pandas.DataFrame.copy
- 데이터프레임 중 일부를 선택 후, 조작하면 해당 데이터프레임도 변경
- copy() 를 통해, 복사본을 만들어서 조작하여, 원본 데이터프레임은 보존 가능

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">8. customer_zip_code_prefix, customer_city, customer_state 컬럼만 가져오기 (데이터프레임 변수 이름은 doc2로 하기로 함)</font><br>
</div>

In [75]:
doc2 = doc[['customer_zip_code_prefix', 'customer_city', 'customer_state']].copy()
doc2.head()

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">9. customer_city 가 sao paulo 인 레코드(행)만 가져오기 (데이터프레임 변수 이름은 doc3 으로 하기로 함)</font><br>
    - 레코드(행) 수 확인도 해보기
</div>

In [76]:
doc3 = doc2[doc2['customer_city'] == 'sao paulo']
doc3.head()

    customer_zip_code_prefix customer_city customer_state
2                       1151     sao paulo             SP
6                       4534     sao paulo             SP
13                      5704     sao paulo             SP
18                      5416     sao paulo             SP
22                      5713     sao paulo             SP

In [77]:
doc3.shape

(15540, 3)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">10. customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [92]:
doc2['customer_city'].value_counts()

sao paulo                 15540
rio de janeiro             6882
belo horizonte             2773
brasilia                   2131
curitiba                   1521
                          ...
santana do deserto            1
marilandia do sul             1
sao geraldo da piedade        1
osvaldo kroeff                1
luis correia                  1
Name: customer_city, Length: 4119, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">11. doc 데이터프레임에서 customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    1. groupby 를 써서 customer_city 를 기준으로 행의 갯수를 count 하세요 (새로운 데이터프레임 변수 이름은 doc4로 하기로 함)<br>
    2. doc4를 통해 customer_city 수도 확인해보세요 (데이터프레임 레코드(행) 수를 확인해보면 됩니다.)<br>
</div>

In [99]:
doc4 = doc.groupby('customer_city').count()
doc4

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,3,3,3,3
abadiania,1,1,1,1
abaete,12,12,12,12
abaetetuba,11,11,11,11
abaiara,2,2,2,2
...,...,...,...,...
xinguara,9,9,9,9
xique-xique,3,3,3,3
zacarias,2,2,2,2
ze doca,5,5,5,5
zortea,2,2,2,2

In [95]:
# customer_city는 총 4119개
doc4.shape

(4119, 2)

### 추가 문법 이해 (정렬, sort_values(), sort_index())
1. groupby(기준컬럼) 계산시, 기준컬럼은 인덱스로 설정이 되고, 해당 컬럼값을 기반으로 자동 정렬됨


2. 데이터프레임.sort_values(by=컬럼명, ascending=False) 
   - ascending=True: 오름차순 (디폴트)
   - ascending=False: 내림차순
3. 시리즈.sort_values(ascending=True)


4. 데이터프레임/시리즈.sort_index(ascending=True): 인덱스 기준 정렬

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">12. doc4에서 가장 레코드(행)의 수가 많은 customer_city 를 확인해보세요</font><br>
    1. doc4의 customer_id 를 기준으로 정렬하고, 가장 상단의 한 행만 출력하기<br>
</div>

In [103]:
doc4['customer_id'].sort_values(ascending=False).head(1)

customer_city
sao paulo    15540
Name: customer_id, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">13. doc 에서 customer_city 를 인덱스로 만들고, 알파벳 순으로 인덱스를 정렬해보세요</font><br>
</div>

In [108]:
doc.set_index('customer_city').sort_index()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,a23e3f9a2b656b23b7e52075964b42cd,afddf43a03a9941624ed42c0b2c17280,38540,MG
abadia dos dourados,9e01f714a2b3b8962c222cf2b74c20dc,e1feae9083c4c2895ddf6dc80526a85d,38540,MG
abadia dos dourados,f11eb8f0b8b87510a93e3e1aa10b0ade,64ee476500a01beb94df40f97a108c50,38540,MG
abadiania,576d71ddb21b21763cfedce73b902180,8d76b559181609308fcae630ea64cd61,72940,GO
abaete,5e9e1ae42e02df93e9a591e86fd531a3,28af9604f7830ef6d1230fb575c39eb1,35620,MG
...,...,...,...,...
ze doca,1052e334b46dd1e9876946d6372a363e,c933181d09535cb6bdfb1c0160323bd9,65365,MA
ze doca,d8b3ef6f73de33ae716e94d2478cc080,9ef06526b8e57a567ed6f1dce7ab0320,65365,MA
ze doca,fc87e5c06780700952aa42998a22968f,d4798889fe74026a739ca0be9d2dccb8,65365,MA
zortea,0a466d490a3c2fcc1e7177f4809ec7dd,d5a5ceb83234eeb855268d7fce7f54ea,89633,SC
zortea,e046f992a304cc92e1b00d7fccdf1c42,09a3f87b74828b274d73ee9dfef43b68,89633,SC

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">14.  doc2에서 customer_state 기준으로 행의 갯수를 확인해보세요</font><br>
   - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>